<h2 style="font-weight: 700;" class=" d-flex mt-3 justify-content-center" color="primary">Informacione rreth Pacientit</h2>
<div class="text-center" *ngIf="isLoading">
  <button class="btn btn-primary" type="button" disabled >
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status"> Loading...</span>
  </button>
</div>
<mat-card class="m-3" *ngIf="!isLoading">
  <mat-card-title class="pb-2">
    Emri Pacientit : <b>{{patientObj?.patient_name}}</b>
  </mat-card-title>
  <mat-divider></mat-divider>

    <div class="row pt-3">
      <div class="col-md-6">
        <mat-card-content>
          <span><b>Doktori</b>:</span> {{patientObj.doctor_name}} <br>
          <span> Nr Telefonit: </span> {{patientObj.mobile}} <br>
          <span> Diagnoza: </span> {{patientObj.prescription}}
        </mat-card-content>
      </div>
      <div class="col-md-6">
       <mat-card-content>
        <span> Gjinia: </span> {{patientObj.gender}} <br>
        <span> Data Regjistrimit: </span> {{patientObj.admission_date}}
       </mat-card-content>
      </div>
    </div>
</mat-card>
